body{
	background-color:yellow;
	widht:100vh;
	height:100vh;
	margin:0;
	padding:0;
	/* overflow:hidden; */
}
#coverbox{
  display:block;
  position: relative;
  margin:0;
  width:100%;
  /* right:0px; */
  height:100%;
  top: 0px;
  left: 0px;
  /* padding:20px; */
  /* background-color:white; */
  /* border-radius:25px; */
  /* border: 1px solid #bfbfbf; */
  /* box-shadow: -5px 10px 10px 5px #a6a6a6; */
  background-color:pink;
}

#mainbox{
  display:block;
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background-color:white;
}
.section{
	position:relative;
	width:100%;
	height:100%;
}
.headline{
  display:block;
  position:relative;
  width:100%;
  z-index:9;
  min-height:50px;
  background-color: #bb99ff;
  font-size:1.5em;
  font-weight:bold;
}

.titlebody{
	height:auto;
	margin: 0;
	position: absolute;
	top: 50%;                         
	transform: translate(0, -50%);
}

.datarow{
  display:block;
  position:relative;
  width:100%;
  height: 30px;
  background-color: rgb(203, 179, 255,0.5);
  opacity:0.6;
}

#scoreboard{
	position:absolute;
	left:10px;
	top: 50%;                         
	transform: translate(0, -50%);
}

#timeboard{
	position:absolute;
	right:10px;
	top: 50%;                         
	transform: translate(0, -50%);
}

.contentbody{
  position:relative;
  width:100%;
  /* height:100%; */
  background-color:#f2f2f2;
  overflow: auto;
}

.intro .contentbody, .end .contentbody{
  position:relative;
  width:100%;
  height:100%;
  background: url('index2.jpg') no-repeat;
  background-size: cover;
}


#score{
	font-size:2em;
	color:white;
}

#IndiaMap{
  display: block;
  position: absolute;
  width:100%;
  height:100%;
  min-height:400px;
  top: 0px;
  left: 0px;
  /* top: 50%;                          */
  /* transform: translate(0, -50%); */
}

.land{
	fill: #1e8346;
	fill-opacity: 1;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
}

path:hover{
  stroke: #2abb64;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #2abb64;
  cursor: pointer;
}

/* Note: :active MUST come after :hover (if present) in the CSS definition in order to be effective! 
A link becomes active when you click on it.
Tip: The :active selector can be used on all elements, not only links.*/

path:active {
  fill: #00ff00;
  stroke: #00ff00;
  stroke-width: 1px;
}

/* path[data-active="true"] { */
  /* fill: #0c0; */
/* } */

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
  font-size:13;
  opacity:0.8;
  text-align:center;
}


.hidden{
  display: none;
}

.introbuttons{
	margin: 0;
	position: absolute;
	/* background-color:yellow; */
	/* top: 50%;                          */
	/* transform: translate(0, -50%); */
	/* left:42%; */
	/* left:0; */
	/* right:0; */
	/* margin: 0; */
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	/* -ms-transform: translate(-50%, -50%); */
	/* transform: translate(-50%, -50%); */
	/* left:100px; */
	
}

button{
	cursor: pointer;
}

#begingame, #endgame, #restart{
	position:relative;
	padding:10px;
	text-align: center;
	background-color: #3399ff;
	opacity:0.9;
	border: 1px solid black;
	border-radius:50%;
	display: inline-block;
	font-size: 16px;
	font-weight:bold;
	width: 150px;
}

#endgame{
	top:10px;
}

#tohome{
	position:absolute;
	right:0px;
	height:100%;
	z-index:10;
	font-size: 16px;
	font-weight:bold;
	background-color: #3399ff;
	border: 1px solid black;
	border-radius: 15px 0 0 15px;
}


#correctpop{
	display:none;
	width:100px;
	height:50px;
	z-index:3;
	background-color:#99ffbb;
	margin: 0;
	position: absolute;
	top: 50%;                         
	transform: translate(0, -50%);
	left:40%;
	text-align:center;
	line-height: 50px;
	border-radius:10px;
}
#wrongpop{
	display:none;
	width:100px;
	height:50px;
	z-index:4;
	background-color: #ff8566;
	margin: 0;
	position: absolute;
	top: 50%;                         
	transform: translate(0, -50%);
	left:40%;
	text-align:center;
	line-height: 50px;
	border-radius:10px;
}

@keyframes blink {
	0% {opacity: 1;}
	50% {fill:  #d6f5e3; stroke:#d6f5e3; stroke-width: 2px;}
	100% {opacity: 1;}
}

.flashing{
	animation: blink 1s infinite;
}

.ripple {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: White;
  border: 5px solid White;
  position: absolute;
  left: 50%;
  transform: scale(.5);
  display: none;
  z-index=5;
}
.ripple.active {
  display: block;
  animation: ripple .4s ease-out forwards;
  z-index=6;
}
@keyframes ripple {
  from {
    transform: scale(.2);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  } 